<nav class="navbar navbar-expand-md bg-dark">
    <div class="container fs-4">
      <a class="navbar-brand text-white fs-3 p-0 m-0" href="/"><img src="/images/logo-face.png" alt="Logo MYPRESS" class="navbar-brand p-0 m-0">MyPRESS</a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-link text-white" href="/admin/categories">Category</a>
          <a class="nav-link text-white ms-1" href="/admin/articles">Articles</a>
          <a class="nav-link text-white ms-1" href="/admin/users">Users</a>
          <!-- <a class="nav-link text-white ms-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>